<html>
<p>

Vielen Dank für Ihre Registrierung! Klicken sie auf folgende URL, um Ihren Account zu aktivieren: <br/> <br/>

<a href="http://localhost:3000<%= @account_activation_path %><%= activate_path(@user.persistence_token) %>">http://localhost:3000<%= @account_activation_path %><%= activate_path(@user.persistence_token) %></a> <br/> <br/>

Sollte der Link nicht funktionieren, versuchen Sie den Link zu kopieren und in die Adresszeile Ihres Browser einzufügen.
</p>
</html>
