# app/views/shared/_error_messages.html.erb
<% if target.errors.any? %>
  <div id="errors">
    <h2><%= pluralize(target.errors.count, "Error") %> verhinderten, dass die Daten gespeichert werden konnten:</h2>
    <ul>
      <% target.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>