<% @title = "Willkommen"%>
<h1>Willkommen zu KaffKass</h1>

<p>Melden Sie sich an, um an Kaffeerunden teilnehmen zu können. Verwalten Sie ihren täglichen Kaffeetassenkonsum,
tragen Sie ihre Urlaubszeiten ein und informieren Sie sich über den aktuellen Tassenpreis!</p>
<br/>
<p style="text-align: center;">
  <b>Studienarbeit Web Engineering - Prof. Dr. Joachim Hof</b><br/>
  WS 2012/13<br/>
  Hochschule München - Master Informatik<br/>
  Matthias Karl - Michael Prankl<br/>
</p>
