<h1>Rechnungen</h1>

<table id="ktable">
  <tr>
    <th>E-Mail</th>
    <th>Betrag</th>
    <th>Datum</th>
    <th></th>
  </tr>

  <% @bills.each do |bill| %>
      <% if  (!bill.is_paid) %>
          <tr>
            <td><%= bill.user.email %></td>
            <td><%= number_to_currency bill.value, :unit => "&euro;", :separator => ",", :precision => 2 %></td>
            <td><%= bill.date %></td>
            <td><%= link_to 'Als bezahlt markieren', mark_as_paid_path(@coffee_box.id, bill.id), confirm: 'Sind Sie sicher?'%></td>
          </tr>
      <% end %>
  <% end %>
</table>

<br/>

