<h1>Listing bills</h1>

<table id="ktable">
  <tr>
    <th>E-Mail</th>
    <th>Value</th>
    <th>Date</th>
    <th></th>
  </tr>

  <% @bills.each do |bill| %>
      <% if  (!bill.isPaid) %>
          <tr>
            <td><%= bill.user.email %></td>
            <td><%= number_to_currency bill.value, :unit => "&euro;", :separator => ",", :precision => 2 %></td>
            <td><%= bill.date %></td>
            <td><%= link_to 'Mark as paid', mark_as_paid_path(@coffee_box.id, bill.id), confirm: 'Are you sure?'%></td>
          </tr>
      <% end %>
  <% end %>
</table>

<br/>

