<h2 id="mont">
  <%= link_to "<", coffee_box_consumptions_path(:month => (@date.beginning_of_month-1).strftime("%Y/%m")), remote: true, :class => "loader" %>
  <%= l @date, format: :month_year %>
  <%= link_to ">", coffee_box_consumptions_path(:month => (@date.end_of_month+1).strftime("%Y/%m")), remote: true, :class => "loader" %>
</h2>
<div id="closeMonth">
  <%
     #Logik ob link angezeigt werden soll
     exists = @coffee_box.price_of_coffees.where(date: @date.beginning_of_month .. @date.end_of_month).exists?
     next_month = @date>>1
     exists_next_mont = @coffee_box.price_of_coffees.where(date:  next_month.beginning_of_month ..  next_month.end_of_month).exists?
     exists_bill = @coffee_box.bills.where(user_id: current_user,date: @date.beginning_of_month .. @date.end_of_month).exists?
  %>
  <%= link_to_if exists && !exists_next_mont && !exists_bill, "Monat abschließen", closeMonth_coffee_box_path(@coffee_box, :month => @date.strftime("%Y/%m")) %>
</div>