<fieldset>
  <legend>Tassenverbrauch melden</legend>
  <div id="calendar">
    <div id="selectorField">
      <table> <%= render 'selector' %> </table>
    </div>
    <%= image_tag("loader.gif", id: 'loadGif') %>
    <div id="calendarField">
      <%= render 'calendar' %>
    </div>
  </div>
</fieldset>
