<h2>Details zum Konsum</h2>

<p>Datum: <%= @consumption.day %></p>
<p>Menge: <%= @consumption.numberOfCups %></p>


<%= link_to 'Edit', edit_coffee_box_consumption_path(@coffee_box,@consumption) %> |
<%= link_to 'Back', coffee_box_consumptions_path %>
